:root {
  --pastel-blue: rgb(174, 222, 239);
}

#root {
  background-color: rgb(243, 243, 243);
} 

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.NavBar {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.NavTitle {
  font-size: 30px;
}

.OurMission,
.Philanthropy {
  display: flex;
  flex-wrap: wrap;

}

.leftDiv,
.rightDiv {
  flex: 1;
  padding: 0;
}

.rightDiv img,
.leftDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.footerBox {
  background-color: var(--pastel-blue);
}
